

.sectionContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-top: 92px;
    padding-bottom: 0;
    margin: 0 auto;


    .container {
        display: flex;
        flex-direction: column;

        // p {
            
            
        // }
        .textHeader {
            text-align: center;
            font-size: 20px;
            font-weight: 200;
            //font-family:  serif;
            margin-bottom: 75px;
           color: #6e6e71;
           font-family: Source Sans,"Source Sans Fallback - Helvetica","Source Sans Fallback - Arial",sans-serif;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            

            li {
                display: flex;
                justify-content: center;
                flex: 2;
                flex-basis: 166px;
                width: 180px;
                 margin: 25px auto ;
                color: #6e6e71;
                cursor: pointer;
                //border: 1px solid gray;
            }
        }
    }
}
@media (min-width: 280px) and (max-width: 750px) {
    .sectionContainer {
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        border: 3px solid rgb(14, 68, 176);
        .imgLogo {
            width: 50px;
            //border: 3px solid rgb(14, 68, 176);
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            // justify-content: center;
            // align-items: center;
            padding-left: -10px;
            gap: 10px;
            //border: 5px solid rgb(0, 4, 255);
            li {
                display: flex;
                justify-content: center;
                align-items:center;
                width: 130px;
                margin: 0px 0px ;
            }
        }
       
    }
}

// @media (min-width: 1380px) and (max-width: 15024px) {
  
//     .container {
//         margin: auto 660px
//      }
//   }