body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}




/* @media (min-width: 1280px) and (max-width: 15024px) {
 
} */


@media (min-width: 1440px)  {
  body {
    margin: 0px 100px;
  }
}

@media (min-width: 2000px) and (max-width: 15024px)  {
  body {
    margin: 0px 600px;
  }
}