.sectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    width: 100%;
    //background-color: rgb(103, 165, 165);
    .articleContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        //background-color: rgb(62, 62, 138);

        .header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 800px;
            .title {
                font-size: 45px;
                margin-bottom: -10px;
                font-family: "Tiempos",Times,serif;
            }

            h2 {
                color: #31303a;
                font-weight: 600;
            }
            .paragraph {
                text-align: center;
                font-size: 22px;
                line-height: 1.36;
                padding: 0 20px 1.5em 20px;
                color: #818181;
                font-family: "Source Sans",Helvetica,Arial,sans-serif;
            }
        }

        .bodyContainer {
            // display: flex;
            // justify-content: center;
            // align-items: center;
            // height: 630px;
            // width: 85%;
            // padding: 0px 100px;
            display: flex;
            flex-direction: column;
            background-color:rgb(231, 239, 245);
            height: 630px;
            width: 85%;
           border-radius: 5px;
           box-shadow: 0 5px 10px rgba(0,0,0,.2), 0 10px 30px rgba(0,0,0,.2);
            .bodySection {
               
                height: 630px;
                width: 85%;
                // .articleContainer {
                //     // width: 100%;
                //     // height: 720px;
                //     // background-image: url('https://images.prismic.io/milanote/184fed5a-5b9e-4369-8b65-51d4e9005f76_Image-Article-Research-Board.png');
                //     // background-size: cover;
                //     // background-repeat: no-repeat;
                //     // background-position: 100%;
                //     border-radius: 6px;
                //     box-shadow: 0 5px 10px rgb(0 0 0 / 20%), 0 10px 30px rgb(0 0 0 / 20%);
                // }
            }
            
        }
    }
}

@media (min-width: 280px) and (max-width: 750px) {
    .sectionContainer {
       .articleContainer {
        .header {
                width: 360px;
                //border: 2px solid red;

                .title {
                    font-size: 30px;
                }
                .paragraph {
                    font-size:22px;
                    font-weight: 200;
                }
        }
        .bodyContainer {
            height: 200px;
        }
       }
    }
}

@media (min-width: 768px) and (max-width: 1000px) {
    .sectionContainer {
       .articleContainer {
        .header {
                width: 500px;
                //border: 2px solid red;

                .title {
                    font-size: 30px;
                }
                .paragraph {
                    font-size:22px;
                    font-weight: 200;
                }
        }
        .bodyContainer {
            height: 400px;
            // box-shadow: 0 5px 10px rgba(0,0,0,.2), 0 10px 30px rgba(0,0,0,.2);
        }
       }
    }
}

@media (min-width: 1380px) and (max-width: 15024px) {
    /* * {
      padding: auto 620px;
    } */

    .bodySection {
        margin: auto 600px;
     }
  }