
.sectionRegistration {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   // border: 1px solid tomato;
    width: 100%;
    height: 770px;
    position:relative;
   padding: 10px;
    //z-index: 1;
     margin-top: 100px;


    .registrationContainer {
       
        padding-top: 50px;
        width: 100%;
        height: 100%;
        background-image: url('https://images.prismic.io/milanote/63d2e479-ad44-4cee-ae46-c25e4ed07091_register-footer-bg%402x.jpg');
        background-position: center;
        background-size: cover;
        z-index: 1;
    }
   

    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 600px;
        padding: 64px 0;
        text-align: center;
        border: 1px solid rgba(48,48,58,.2);
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 1000px;
        margin: 0 auto;
        padding: 35px 30px;
        background: #fff;
        box-shadow: 0 3px 6px 0 rgb(0 0 0 / 10%);
        border-radius: 6px;
       
    }

    .formComponent {

        .formPanel {
            h2{
                margin-bottom: 0.5em;
                color: #31303a;
                font-family: "Tiempos",Times,serif;
                font-size: 30px;
                font-weight: 600;
                line-height: 1.3;
            }
            p{
                color: #818181;
                font-size: 21px;
                line-height: 1.3;
            }
        }
    }
}