.section {
    margin-top: 80px;
    width: 100%;
    padding:   20px auto;
    background-image: url('/secondBackground.png');

    .pageContainer {
        padding-top: 30px;
        padding-bottom: 25px;
    }
}