

.sectionContainer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: -20px 0px;
    justify-content: center;
    align-items: center;
    color: #31303a;
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 688px;
        height: 120px;
        box-sizing: border-box;
        h3 {
            letter-spacing: 0.5px;
            color: #fff;
            padding: 5px;
            font-weight: 700;
            text-align: center;
            font-family: "Tiempos",Times,serif;
        }

        .title {
            font-size: 40px;
        }

    }

    .buttonContainer {
        //background-color: aquamarine;
        padding: 20px;
        margin-bottom: 15px;

        .findMe {
            padding: 12px 45px;
            text-decoration: none;
            border-radius: 3px;
            color: #31303a;
            font-size: 13px;
            font-weight: 550;
            background: #f8f8f8;
            border: none;
            cursor: pointer;
        }
    }
    .articleContainer {
        display: flex;
        flex-direction: column;
        background-color:rgb(231, 239, 245);
        height: 630px;
        width: 85%;
       border-radius: 5px;
       
    }
}

@media(max-width: 760px) {
    .sectionContainer {
        .header {
           .title {
            margin: 0px 50px;
            font-size: 22px;
           }
        }
        .buttonContainer {
            margin-top: -20px;
        }

        .articleContainer {
            height: 200px;
            margin-bottom: 20px;
        }
    }
}

@media (min-width: 1380px) and (max-width: 15024px) {
    /* * {
      padding: auto 620px;
    } */

    .sectionContainer {
        margin: auto 600px;
        
     }
  }